@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color_febd69);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: var(--color_131921);
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

:root {
  --color_131921: #131921;
  --color_3b4149: #3b4149;
  --color_febd69: #febd69;
  --color_232f3e: #232f3e;
  --rounded-btn: 0.2rem;
  background-color: unset;
  --color_df4800: #df4800;
  --color_f5f5f7: #f5f5f7;
  --color_ededed: #ededed;
  --color_bf4800: #bf4800;
  --color_777777: #777777;
  --color_38b5fe: #38b5fe;
  --swiper-navigation-size: 12px !important;
  --swiper-theme-color: #000 !important;
}

body {
  font-family: "IBM Plex Sans", sans-serif !important;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color_131921);
}

p,
span,
option,
input,
select,
textarea {
  color: var(--color_232f3e);
}

input,
select,
textarea {
  background-color: var(--color_f5f5f7);
}

input::placeholder,
select,
textarea::placeholder {
  font-size: 14px;
}

input,
textarea {
  color: var(--color_232f3e) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.layout {
  max-width: 1600px !important;
  margin: 0 auto !important;
}

.box_shadow {
  box-shadow: 0 0 10px #0000001a;
}

.body_wrapper {
  background-color: var(--color_f5f5f7);
}

.first_button {
  background-color: var(--color_232f3e) !important;
  color: #fff !important;
  font-size: 15px !important;
}

.first_button:hover {
  background-color: var(--color_febd69) !important;
  color: var(--color_232f3e) !important;
}

.second_button {
  background-color: var(--color_febd69) !important;
  color: var(--color_232f3e) !important;
  font-size: 15px !important;
}

.second_button:hover {
  background-color: var(--color_232f3e) !important;
  color: #fff !important;
}

/* Header */
.header_area {
  background-color: var(--color_131921);
}

.main_dropdown ul {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.main_dropdown:hover > a {
  color: var(--color_38b5fe);
}

.main_dropdown:hover ul {
  opacity: 1;
  visibility: visible;
}

.main_dropdown:hover svg {
  color: var(--color_38b5fe);
  transform: rotate(180deg);
}

.catagory_menu .dropdown .catagory_menu_btn:hover {
  transition: all 0.3s;
}

.catagory_menu .dropdown .menu {
  background-color: var(--color_131921);
}

.catagory_menu .dropdown .menu li {
  color: #fff;
  padding: 5px 0px;
  border-bottom: 1px solid var(--color_3b4149);
}

.catagory_menu .dropdown .menu li:focus {
  background-color: #131921;
}

.catagory_menu .dropdown .menu li:hover {
  opacity: 0.8;
  transition: all 0.3s;
  border-bottom: 1px solid #fff;
}

.catagory_menu
  .dropdown
  .menu
  :where(li:not(.menu-title):not(:empty))
  > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: var(--color_232f3e);
}

/* .mainmenu a:hover {
  color: var(--color_38b5fe) !important;
} */

.action_area div p,
.footer_info p,
.ant-menu-title-content {
  color: #fff;
  transition: 0.3s all;
}

.action_area div:hover p,
.footer_middle h4,
.footer_middle_accordion span {
  color: var(--color_38b5fe);
}

.user_button {
  background-color: var(--color_131921);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.myaccount:hover .user_button {
  visibility: visible;
  opacity: 1;
}

/* Footer */
.footer_bg {
  background-color: var(--color_232f3e);
}

.footer_bottom,
.footer_middle {
  border-top: 1px solid var(--color_3b4149);
}

.newsletter span {
  background-color: var(--color_131921);
}

.footer_info {
  color: #ddd;
}

.footer_middle_accordion .accordion__button {
  background-color: unset !important;
  color: #fff !important;
}

.footer_middle_accordion .accordion__item p {
  color: var(--color_f5f5f7);
}

.accordion__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px !important;
  font-weight: bold;
}
.accordion__button:before {
  content: unset !important;
}

.accordion__button:after {
  display: inline-block;
  content: "";
  height: 7px;
  width: 7px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::after,
.accordion__button[aria-selected="true"]::after {
  transform: rotate(45deg);
}

/* Banner */
.left_banner .slick-dots li button:before {
  font-size: 20px;
}

.left_banner .slick-dots {
  bottom: 20px;
}

.slick-dots li button:before {
  color: var(--color_38b5fe) !important;
}

/* Featured categoris */
.section_gap {
  margin-top: 30px;
}

.section_title {
  color: var(--color_232f3e);
}

.slick-prev {
  width: 40px !important;
  left: 93% !important;
  position: absolute !important;
  height: 40px !important;
  background: #ddd !important;
  z-index: 1 !important;
  border-radius: 50% !important;
}

.slick-next {
  width: 40px !important;
  right: 0 !important;
  position: absolute !important;
  height: 40px !important;
  background: #ddd !important;
  z-index: 1 !important;
  border-radius: 50% !important;
}

.slick-prev:focus,
.slick-prev:hover,
.slick-next:hover,
.slick-next:focus {
  color: transparent !important;
  outline: none !important;
  background: var(--color_232f3e) !important;
}

.featured_category_section .slick-arrow {
  top: -13% !important;
}

@media screen and (max-width: 480px) {
  .slick-prev {
    width: 30px !important;
    left: 80% !important;
    height: 30px !important;
  }

  .slick-next {
    width: 30px !important;
    right: 0% !important;
    height: 30px !important;
  }

  .featured_category_section .slick-arrow {
    top: -15% !important;
  }
  .breadcrumbs > ul > li:last-child > a,
  .breadcrumbs > ol > li:last-child > a {
    display: none !important;
  }
}
